body {
    font-family: "Noto Sans", var(--bs-font-sans-serif);
}

a {
    color: var(--bs-body-color);
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.nav-link,
.swiper-pagination-bullet {
    &:hover {
        background-color: var(--bs-warning);
    }
}
.swiper-pagination {
    --swiper-pagination-color: var(--bs-warning);
    --swiper-pagination-bullet-border-radius: 0;
    --swiper-pagination-bullet-horizontal-gap: 0;
    --swiper-pagination-bullet-inactive-color: transparent;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-height: auto;
    --swiper-pagination-bullet-width: auto;
}

.bi {
    line-height: 1;
}
.card {
    --bs-card-border-radius: var(--bs-border-radius-xl);
    --bs-card-inner-border-radius: calc(var(--bs-card-border-radius) - (var(--bs-border-width)));
}

/* INTRO
 */
.intro {
    .intro-text {
        text-shadow: 2px 2px 2px rgb(0 0 0 / .25);
    }
}

/* STATS
 */
.stats {
    text-shadow: 2px 2px 2px rgb(0 0 0 / .25);
}

/* CLIENT
 */
.client-list {
    img {
        max-height: 2.5rem;
        margin: 1rem;

        &[src$="pemda.svg"],
        &[src$="kementrian.png"],
        &[src$="bantul.png"] {
            max-height: 5rem;
        }
    }
}

/* PORTOFOLIO
 */
.portofolio {
    .gallery {
        column-count: 2;
        column-gap: .5rem;

        @media (min-width: 768px) {
            column-count: 3;
        }
        @media (min-width: 992px) {
            column-count: 6;
        }

        .card {
            margin-bottom: .5rem;
            transition: transform .25s;

            &:hover {
                transform: scale(1.05);
                z-index: 999;
            }
        }
    }
}

/* TESTIMONIAL
 */
.testimonial {
    .card {
        max-width: calc(100vw - var(--bs-gutter-x));
        text-shadow: 2px 2px 2px rgb(0 0 0 / .25);

        @media (min-width: 768px) {
            max-width: calc(720px / 2 - var(--bs-gutter-x));
        }
        @media (min-width: 992px) {
            max-width: calc(960px / 3 - var(--bs-gutter-x));
        }
        @media (min-width: 1400px) {
            max-width: calc(1320px / 4 - var(--bs-gutter-x));
        }
    }
}

/* CONTACT
 */
.contact a {
    color: var(--bs-body-color);
    text-decoration: none;
}
.kantor {
    > p:hover .bi {
        color: var(--bs-primary);
    }
}
.wa-btn-float {
    position: fixed;
    right: 2rem;
    bottom: 2rem;

    height: 3.5rem;
    width: 3.5rem;

    transition: transform .25s;

    z-index: 9999;

    &:hover {
        transform: scale(1.15);
    }

    img {
        max-width: 100%;
        height: auto;
    }
}
