:root {
    --gap: 20px;
    --gap-half: calc(var(--gap) / 2);
    --gap-double: calc(var(--gap) * 2);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* SECTION
 */
section {
    display: flex;
    flex-wrap: wrap;

    height: 100vh;

    border-bottom: 1px solid #00f;

    header,
    main {
        display: flex;
        align-items: center;
        width: 100%;
    }

    header {

        height: 80px;

        padding: 0 var(--gap-double);

        nav {
            margin-left: auto;

            a {
                cursor: pointer;
                text-transform: uppercase;
                padding: 0.5rem 0.75rem;
                border-radius: 5px;

                &:hover {
                    background-color: rgb(255 255 0 / 0.5);
                }
            }
        }

        .logo img {
            height: 60px;
            margin-right: var(--gap);
        }
    }

    main {
        height: calc(100% - 80px);

        padding: var(--gap);
        padding-top: 0;
    }
}

.gradient {
    display: flex;

    border-radius: var(--gap);

    overflow: hidden;
    position: relative;

    height: 100%;
    width: 100%;

    &::after {
        content: "";
        display: block;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        z-index: -1;
    }
}

.swiper {
    height: 100%;
}
.swiper-pagination {
    position: static;

    --swiper-pagination-color: rgb(255 255 0 / 0.5);
    --swiper-pagination-bullet-horizontal-gap: 2px;
    --swiper-pagination-bullet-inactive-color: transparent;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-height: auto;
    --swiper-pagination-bullet-width: auto;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: auto;
}
.swiper-pagination-bullet {
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
    text-transform: uppercase;

    &:hover {
        background-color: var(--swiper-pagination-color);
    }
}

/* HOME
 */
.intro {
    display: flex;
    align-items: center;

    background-image: url(img/bsm.png);
    background-position: right bottom;
    background-repeat: no-repeat;

    &.gradient::after {
        background-image: linear-gradient(145deg, #fff, #00f);
    }
}
.intro-text {
    margin-left: var(--gap-double);
    margin-top: calc(var(--gap-double) * -2);
    width: 50%;

    @media (min-width: 992px) {
        width: 40%;
    }
}

/* WORKS
 */

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--gap);
    grid-template-areas:
        "c1"
        "c2"
        "c3";

    height: 100%;
    padding: var(--gap);

    &.gradient::after {
        background-image: linear-gradient(to top, #fff, #00f);
    }

    @media (min-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "c1 c2 c3";
    }
}
.card {
    display: flex;
    gap: 0 var(--gap);

    overflow: hidden;

    border-radius: var(--gap);
    background-color: lightblue;

    &.c1 {
        grid-area: c1;
    }
    &.c2 {
        grid-area: c2;
    }
    &.c3 {
        grid-area: c3;
    }

    @media (min-width: 992px) {
        flex-direction: column;
    }
}
.card-image {
    border-bottom-left-radius: var(--gap);
    border-top-left-radius: var(--gap);
    overflow: hidden;

    @media (min-width: 992px) {
        border-top-right-radius: var(--gap);
        border-bottom-left-radius: 0;
    }
}
.card-text {
    @media (min-width: 992px) {
        padding: var(--gap);
        padding-top: 0;
    }
}

.grids {
    display: grid;
    gap: var(--gap-half);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
        "g1 g1 g1"
        "g2 g2 g3"
        "g2 g2 g4";

    height: 100%;

    @media (min-width: 992px) {
        gap: var(--gap);
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "g1 g2 g2"
            "g1 g3 g4";
    }
}
.grid {
    border-radius: var(--gap);
    overflow: hidden;

    &.g1 {
        grid-area: g1;

        background-color: lightblue;
        border-radius: var(--gap);
        padding: var(--gap);
    }
    &.g2 {
        grid-area: g2;
    }
    &.g3 {
        grid-area: g3;
    }
    &.g4 {
        grid-area: g4;
    }

    h3 {
        margin-top: 0;
    }
}
.grid-image {
    @media (min-width: 992px) {
        position: relative;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.bb img {
            transform: translate(-50%, -40%);
        }
    }
}

/* CLIENTS
 */
#bsm-clients {
    height: auto;

    main {
        justify-content: center;
    }
}
.clients {
    width: 100%;
}
.client {
    text-align: center;

    img {
        max-height: 40px;
        margin: 10px;

        &[src$="pemda.svg"],
        &[src$="kementrian.png"],
        &[src$="bantul.png"]
            {
            max-height: 80px;
        }

        @media (min-width: 992px) {
            max-height: 60px;

            &[src$="pemda.svg"],
            &[src$="kementrian.png"],
            &[src$="bantul.png"]
                {
                max-height: 100px;
            }
        }
    }
}

/* CONTACT
 */

#bsm-contact {
    background-color: rgb(0 0 255 / 0.5);
    display: flex;
    height: auto;

    main {
        display: flex;
        align-items: flex-start;
        gap: var(--gap);
        height: auto;
        padding-top: var(--gap);
    }

    h4 {
        margin: 0;
    }

    a:not(.logo) {
        display: inline-block;
        padding: 0.25em 0.5em;
        background-color: rgb(0 0 255 / 0.15);
        border-radius: 5px;

        &:hover {
            background-color: rgb(255 255 0 / 0.5);
        }
    }

    .logo img {
        max-height: 100px;
    }

    .medsos {
        margin-left: auto;
    }
}
