:root {
    --gap: 20px;
    --gap-half: calc(var(--gap) / 2);
    --gap-double: calc(var(--gap) * 2);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.image-centered {
    background-color: #000;
    position: relative;
    overflow: hidden;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* SECTION
 */

.section {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #00f;
    overflow: hidden;
}
.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2,
    .logo {
        margin: var(--gap);

        @media (min-width: 992px) {
            margin-left: 0;
        }
    }

    h2 {
        margin-top: 0;

        @media (min-width: 992px) {
            margin-top: var(--gap);
        }
    }

    .logo img {
        height: 60px;
    }

    @media (min-width: 992px) {
        flex-direction: row;
        padding: 0 calc(var(--gap) * 2);
    }
}
.section-nav {
    text-align: center;

    > * {
        line-height: 1;
    }

    a {
        cursor: pointer;
        text-transform: uppercase;
        padding: .25em .5em;
        border-radius: .25em;

        &:hover {
            background-color: rgb(255 255 0 / 0.5);
        }
    }

    &.swiper-pagination {
        position: static;
        transform: none;

        --swiper-pagination-color: rgb(255 255 0 / 0.5);
        --swiper-pagination-bullet-horizontal-gap: 2px;
        --swiper-pagination-bullet-inactive-color: transparent;
        --swiper-pagination-bullet-inactive-opacity: 1;
        --swiper-pagination-bullet-height: auto;
        --swiper-pagination-bullet-width: auto;
    }
    &.swiper-pagination-bullets.swiper-pagination-horizontal {
        width: auto;
    }
    .swiper-pagination-bullet {
        text-transform: uppercase;
        border-radius: 5px;
        padding: .5em .75em;

        &:hover {
            background-color: var(--swiper-pagination-color);
        }
    }

    @media (min-width: 992px) {
        margin-left: auto;
    }
}
.section-content {
    display: flex;
    flex: 1;
    padding: var(--gap);
    position: relative;
}

/* HOME
 */

.section-home {
    background-image: url(img/bsm.png), linear-gradient(145deg, #fff, #00f);
    background-position: left bottom;
    background-repeat: no-repeat;

    height: 100dvh;

    @media (min-width: 992px) {
        background-image: none;
        background-position: right bottom;
    }

    .section-content {
        align-items: center;
    }
}
.intro {
    margin-top: -35vh;
    text-align: center;

    h1 {
        margin-top: 0;
    }

    @media (min-width: 992px) {
        text-align: left;

        margin-top: 0;
        margin-left: var(--gap);

        width: 40%;

        &::after {
            content: "";
            display: block;

            position: absolute;
            top: 0;
            right: var(--gap);
            bottom: var(--gap);
            left: var(--gap);

            background-image: url(img/bsm.png), linear-gradient(145deg, #fff, #00f);
            background-position: right bottom;
            background-repeat: no-repeat;

            border-radius: var(--gap-double);

            z-index: -1;
        }
    }
}

/* WORKS
 */

.section-works {
    @media (min-width: 992px) {
        height: 100dvh;
    }

    .section-content {
        align-items: stretch;

        @media (min-width: 992px) {
            padding-top: 0;
        }
    }
}
.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--gap);
    grid-template-areas:
        "c1"
        "c2"
        "c3";

    @media (min-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "c1 c2 c3";


        background-color: rgb(0 0 255 / 0.5);
        background-image: linear-gradient(145deg, #00f, #fff);

        border-radius: var(--gap);
        height: 100%;
        padding: var(--gap);
    }
}
.card {
    display: flex;
    flex-direction: column;

    overflow: hidden;

    background-color: lightblue;
    border-radius: var(--gap);
    box-shadow: 0 0 10px rgb(0 0 0 / 0.15);

    cursor: pointer;

    &.c1 {
        grid-area: c1;
    }
    &.c2 {
        grid-area: c2;
    }
    &.c3 {
        grid-area: c3;
    }

    &:hover {
        box-shadow: 0 0 10px 2px rgb(0 0 0 / 0.25);
    }
}
.card-image {
    aspect-ratio: 16/9;
}
.card-text {
    padding: var(--gap);
    padding-top: 0;
}

.grids {
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "g1"
        "g2"
        "g3"
        "g4";

    height: 100%;

    @media (min-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "g1 g2 g2"
            "g1 g3 g4";
    }
}
.grid {
    border-radius: var(--gap);
    overflow: hidden;

    h3 {
        margin-top: 0;
    }

    &.g1 {
        grid-area: g1;

        background-color: lightblue;
        padding: var(--gap);
    }
    &.g2 {
        grid-area: g2;
    }
    &.g3 {
        grid-area: g3;
    }
    &.g4 {
        grid-area: g4;
    }

    @media (min-width: 992px) {
        margin-bottom: 0;
    }
}

/* CLIENTS
 */
#bsm-clients {
    height: auto;

    main {
        justify-content: center;
    }
}
.clients {
    width: 100%;
}
.client {
    text-align: center;

    img {
        max-height: 40px;
        margin: 10px;

        &[src$="pemda.svg"],
        &[src$="kementrian.png"],
        &[src$="bantul.png"]
            {
            max-height: 80px;
        }

        @media (min-width: 992px) {
            max-height: 60px;

            &[src$="pemda.svg"],
            &[src$="kementrian.png"],
            &[src$="bantul.png"]
                {
                max-height: 100px;
            }
        }
    }
}

/* CONTACT
 */

.section-contact {
    background-color: rgb(0 0 255 / 0.5);

    height: auto;

    h4 {
        margin: 0;
    }

    .section-content {
        gap: var(--gap);
    }

    a:not(.logo) {
        background-color: rgb(0 0 255 / 0.15);

        display: inline-block;
        border-radius: 5px;

        padding: 0.25em 0.5em;
        margin-bottom: 0.5em;

        &:hover {
            background-color: rgb(255 255 0 / 0.5);
        }

        @media (min-width: 992px) {
            margin-bottom: 0;
        }
    }

    .logo img {
        max-height: 100px;
    }

    .medsos {
        margin-left: auto;
        text-align: right;

        a {
            display: list-item;
            list-style: none;
            margin-left: 0;

            @media (min-width: 992px) {
                display: inline-block;
            }
        }
    }
}
