:root {
    --gap: 20px;
    --gap-q: calc(var(--gap) / 4);
    --gap-h: calc(var(--gap) / 2);
    --gap-x2: calc(var(--gap) * 2);
    --gap-x3: calc(var(--gap) * 3);
    --gap-x4: calc(var(--gap) * 4);
    --gap-x5: calc(var(--gap) * 5);
}

body {
    font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    max-width: 100%;

    .logo & {
        display: block;
        height: 80px;
    }
}

/* CORE
 */
section {
    padding: var(--gap-x5) var(--gap);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--gap);

    section & {
        padding-bottom: var(--gap-x2);
    }

    .title,
    .desc {
        margin: 0;
    }

    .title {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .desc {
        font-size: 1.125rem;
        text-align: center;
        padding: 0 var(--gap);
    }
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: var(--gap) 0;
    text-transform: uppercase;

    &.swiper-pagination {
        position: static;
        transform: none;

        --swiper-pagination-color: rgb(255 255 0 / .5);
        --swiper-pagination-bullet-horizontal-gap: 2px;
        --swiper-pagination-bullet-inactive-color: transparent;
        --swiper-pagination-bullet-inactive-opacity: 1;
        --swiper-pagination-bullet-height: auto;
        --swiper-pagination-bullet-width: auto;
    }
}
.nav-item,
.swiper-pagination-bullet {
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: var(--gap-q);
    padding: .25em .5rem;

    &:hover {
        background-color: rgb(255 255 0 / .5);
    }
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: auto;
}

/* INTRO
 */
#intro {
    background-image: url(images/bsm.png), linear-gradient(145deg, transparent, #00f);
    background-position: center bottom -150px, center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 0;
}
/* .hero {
    background: url(images/bsm.png) center bottom -200px no-repeat;
} */
.hero-text {
    margin: 0 auto;
    padding: 100px var(--gap) 300px;

    text-align: center;
    text-transform: uppercase;

    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1.5rem;
    }
}

/* STATS
 */
#stats {
    background-color: yellowgreen;
}
.stat {
    display: flex;
    gap: 0 var(--gap-h);
    align-items: center;
    justify-content: center;

    border: 1px solid #000;
    padding: calc(var(--gap) * 1.5);

    text-transform: uppercase;

    span {
        line-height: 1;
    }

    + .stat {
        margin-top: -1px;
    }

    .num {
        font-size: 3rem;
        font-weight: 600;
        white-space: nowrap;
    }
    .desc {
        font-size: 1.125rem;
        white-space: wrap;
    }
}

/* WORK
 */
.work-index,
.work-item {
    padding: 1px;
}
.work-index {
    .index {
        cursor: pointer;
        background-color: lightblue;
        border: 1px solid rgb(0 0 0 / .25);
        border-radius: var(--gap);
        margin-bottom: var(--gap);
        overflow: hidden;
        transition: all .25s;

        &:hover {
            border-color: rgb(0 0 0 / .5);
        }

        .image {
            aspect-ratio: 16/9;
            position: relative;
            overflow: hidden;

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        .text {
            padding: var(--gap);

            h3 {
                margin-top: 0;
            }
        }
    }
}
.work-item {
    .text,
    .image {
        border-radius: var(--gap);
        border: 1px solid rgb(0 0 0 / .25);
        margin-bottom: var(--gap);
        transition: all .25s;

        &:hover {
            border-color: rgb(0 0 0 / .5);
        }
    }
    .text {
        background-color: lightblue;
        padding: var(--gap);

        h3 {
            margin-top: 0;
        }
    }
    .image {
        aspect-ratio: 4/3;
        overflow: hidden;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}

/* TESTIMONIAL
 */
#testimonial {
    padding: 0;

    .content {
        background-color: lightgray;
    }
}
.testimonial-wrapper {
    display: flex;
    gap: 0 var(--gap);
    padding: var(--gap);
    overflow-x: auto;
}
.testimonial-item {
    flex: 0 0 400px;
    background-color: salmon;
    border: 1px solid rgb(0 0 0 / .125);
    border-radius: var(--gap-h);
    padding: var(--gap);
    transition: transform .25s;

    &:hover {
        transform: scale(1.015);
    }

    .text {
        font-size: 1.25rem;
        font-family: "Noto Serif", serif;

        i {
            color: green;
            font-size: 3rem;
        }
    }
    .user {
        margin-top: var(--gap);
        padding-top: var(--gap-h);
        border-top: 3px solid rgb(255 255 255 / .25);
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0 var(--gap);

        .fn {
            font-size: 1.5rem;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: .5em;
        }
        .pp {
            font-size: 5rem;
        }
        .rating {
            color: blue;
        }
    }
}

/* PORTOFOLIO
 */
#portofolio .content {
    max-width: 1280px;
}
.portofolio-gallery {
    column-count: 3;
    column-gap: var(--gap);

    img {
        break-inside: avoid;
        border-radius: var(--gap);
        box-shadow: 0 0 5px rgb(0 0 0 / .5);
        margin-bottom: var(--gap);
        transition: transform .25s;

        &:hover {
            transform: scale(1.05);
        }
    }
}

/* KLIEN
 */
.klien {
    text-align: center;

    img {
        max-height: 40px;
        margin: 10px;

        &[src$="pemda.svg"],
        &[src$="kementrian.png"],
        &[src$="bantul.png"] {
            max-height: 80px;
        }
    }
}

/* KONTAK
 */
#contact {
    background-color: rgb(0 0 255 / .25);
    border-top: 1px solid gray;
}
.contact-info {
    padding: var(--gap-x5) var(--gap);

    .kantor,
    .medsos {
        margin-top: var(--gap-x3);

    }

    .logo img {
        height: 100px;
    }

    h4 {
        font-size: 1.25rem;
        margin: 0 0 var(--gap-h);
    }

    .medsos {
        a {
            font-size: 1.5rem;

            + a {
                margin-left: .5em;
            }
        }
    }
}
.wa-floating-button {
    position: fixed;
    right: var(--gap);
    bottom: var(--gap);
    z-index: 9999;

    img {
        height: var(--gap-x3);
        width: var(--gap-x3);

        border-radius: 100%;
        box-shadow: 0 0 5px rgb(0 0 0 / .5);

        transition: transform .25s;

        &:hover {
            transform: scale(1.15);
        }
    }
}

/* ========================================================================== */

/* MEDIA QUERY
 */
@media (min-width: 992px) {
    section {
        padding-left: 10%;
        padding-right: 10%;
    }
    .header {
        padding-left: var(--gap-x2);
        flex-direction: row;
    }
    .nav {
        margin-left: auto;
    }

    /* INTRO
     */
     #intro {
        background-position: right bottom -100px, center bottom;
        background-size: contain;
    }

    /* HERO
     */
    .hero-text {
        padding: 100px 20% 300px;
    }

    /* STATS
     */
    #stats {
        display: flex;
        margin: 0;
        padding-top: var(--gap-x3);
        padding-bottom: var(--gap-x3);
    }
    .stat {
        flex-basis: 50%;
        max-width: 50%;

        + .stat {
            margin-top: 0;
            margin-left: -1px;
        }
    }

    /* WORK
     */
    .work-nav {
        justify-content: flex-end;
    }
    .work-index {
        display: flex;
        gap: 0 var(--gap);

        .index {
            margin-bottom: 0;
        }
    }
    .work-item {
        display: grid;
        gap: var(--gap);
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "text image1 image1"
            "text image2 image3";

        .text,
        .image {
            margin-bottom: 0;
        }

        .text { grid-area: text; }
        .image1 { grid-area: image1; aspect-ratio: 16/9; }
        .image2 { grid-area: image2; }
        .image3 { grid-area: image3; }
    }

    /* PORTOFOLIO
     */
    .portofolio-gallery {
        column-count: 6;
    }

    /* KLIEN
     */
    .klien img {
        max-height: 60px;

        &[src$="pemda.svg"],
        &[src$="kementrian.png"],
        &[src$="bantul.png"] {
            max-height: 100px;
        }
    }

    /* KONTAK
     */
    #contact {
        .kantor,
        .medsos {
            margin-top: 0;
        }
        .medsos {
            margin-left: auto;
            text-align: right;
        }
    }
    .contact-info {
        display: flex;
        gap: 0 var(--gap-x3);
        padding-left: var(--gap-x5);
        padding-right: var(--gap-x5);
    }
}
