:root {
    --gap: 40px;
    --gap-half: 20px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: #00f;
    text-decoration: none;

    &:hover {
        color: #000;
    }
}

img {
    max-width: 100%;

    &.logo {
        filter: invert(1);
        height: 60px;
    }
}

.grad {
    position: relative;

    &::after {
        content: "";
        display: block;
        border-radius: var(--gap);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}

.swiper {
    height: 100%;
}

/* SECTION
 */

section {
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid #00f;

    header,
    main {
        display: flex;
        align-items: center;
    }

    header {
        height: 100px;
        padding-right: calc(var(--gap) * 2);
        padding-left: calc(var(--gap) * 2);

        > a {
            margin-right: 20px;
        }

        nav {
            margin-left: auto;

            a {
                cursor: pointer;
                display: inline-block;
                padding: 0.5rem 1rem;
                text-transform: uppercase;
                border-radius: 8px;

                &:hover,
                &.active {
                    background-color: rgb(255 255 0 / 0.5);
                }
            }
        }
    }

    main {
        height: calc(100vh - 100px);
        padding: var(--gap);
        padding-top: 0;
    }
}

/* HOME
 */

#home-intro {
    display: flex;
    align-items: center;

    height: 100%;
    width: 100%;

    background-image: url(img/bsm.png);
    background-position: right bottom;
    background-repeat: no-repeat;

    div {
        padding: var(--gap);
        width: 40%;
    }

    &.grad::after {
        background-image: linear-gradient(145deg, #fff, #00f);
    }
}

/* SERVICES
*/

.cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;

    &.grad::after {
        background-image: linear-gradient(to top, #fff, #00f);
    }
}
.card {
    flex-basis: calc(100% / 3 - var(--gap));
    max-width: calc(100% / 3 - var(--gap));
    border-radius: var(--gap-half);
    padding: var(--gap-half);
    background-image: linear-gradient(to bottom, #fff, #00f);
    box-shadow: 0 0 5px rgb(0 0 0 / 0.5);
}
.card-img {
    border-radius: var(--gap-half);
}
.card-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: rgb(255 255 0 / 0.75);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--gap-half);
    height: 100%;
}
.grid-item {
    border-radius: var(--gap);
    position: relative;
    overflow: hidden;

    img {
        position: absolute;
    }
}
.grid-item1 {
    grid-row: span 2 / span 2;
    background-color: rgb(0 0 255 / 0.5);
    padding: var(--gap-half);
}
.grid-item2 {
    grid-column: span 2 / span 2;

    #billboard & img {
        top: -200px;
    }
    #branding & img {
        top: -200px;
    }
    #interior & img {
        top: -50px;
    }
}
.grid-item3 {
    grid-column-start: 2;
    grid-row-start: 2;

    #billboard & img {
        top: -70px;
    }
    #branding & img {
        top: -50px;
    }
    #interior & img {
        top: -60px;
        left: -80px;
        max-width: 150%;
    }
}
.grid-item4 {
    grid-column-start: 3;
    grid-row-start: 2;

    #billboard & img {
        top: -50px;
    }
    #branding & img {
        top: -30px;
    }
}

/* CLIENTS
 */
#clients main {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}
.client {
    text-align: center;
    width: 100%;

    img {
        max-height: 60px;
        margin: 10px;

        &[src$="pemda.svg"],
        &[src$="kementrian.png"],
        &[src$="bantul.png"]
            {
            max-height: 100px;
        }
    }
}

/* CONTACT
 */
#contact {
    display: flex;
    padding: var(--padding-base);

    background-color: rgb(0 0 255 / 0.5);

    main {
        align-items: flex-start;
        height: auto;
        padding-top: var(--gap);
    }

    .logo {
        height: 100px;
        width: 100px;
        margin-right: 20px;
    }
}
#contact-info {
    h4 {
        margin-top: 0;
    }
    p {
        border-left: 2px solid #000;
        padding-left: 10px;
    }
}
#contact-nav {
    margin-left: auto;

    a {
        padding: 0 10px;

        &:hover {
            border-bottom: 1px solid #000;
        }
    }
}
