body {
    font-family: "Noto Sans", var(--bs-font-sans-serif);
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.nav-link,
.swiper-pagination-bullet {
    &:hover {
        background-color: rgb(255 255 0 / .5);
    }
    &.cursor-not-allowed {
        cursor: not-allowed;
    }
}
.swiper-pagination {
    --swiper-pagination-color: rgb(255 255 0 / .5);
    --swiper-pagination-bullet-border-radius: 0;
    --swiper-pagination-bullet-horizontal-gap: 0;
    --swiper-pagination-bullet-inactive-color: transparent;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-height: auto;
    --swiper-pagination-bullet-width: auto;
}

.bi {
    line-height: 1;
}
.card {
    --bs-card-border-radius: var(--bs-border-radius-xl);
    --bs-card-inner-border-radius: calc(var(--bs-card-border-radius) - (var(--bs-border-width)));
}

/*
 */
/* .intro {} */
.intro-text {
    text-shadow: 2px 2px 5px rgb(0 0 0 / .25);
}

/*
*/
.stats {
    text-shadow: 2px 2px 0 rgb(0 0 0 / .25);
}


/*
 */
.client-list {
    img {
        max-height: 2.5rem;
        margin: 1rem;

        &[src$="pemda.svg"],
        &[src$="kementrian.png"],
        &[src$="bantul.png"] {
            max-height: 5rem;
        }
    }
}

/*
 */
.portofolio {
    .gallery {
        column-count: 2;
        column-gap: .5rem;

        @media (min-width: 768px) {
            column-count: 3;
        }
        @media (min-width: 992px) {
            column-count: 6;
        }

        .card {
            margin-bottom: .5rem;
            transition: transform .25s;

            &:hover {
                transform: scale(1.05);
                z-index: 999;
            }
        }
    }
}

/*
 */
.testimonial {
    .card {
        max-width: 18.5rem;

        @media (min-width: 768px) {
            max-width: 21rem;
        }
    }
}

/*
 */
