body {
    font-family: "Noto Sans", var(--bs-font-sans-serif);
}

.bi {
    line-height: 1;
}

.nav-link,
.swiper-pagination-bullet {
    &:hover {
        background-color: rgb(255 255 0 / .5);
    }
}
.swiper-pagination {
    --swiper-pagination-color: rgb(255 255 0 / .5);
    --swiper-pagination-bullet-border-radius: 0;
    --swiper-pagination-bullet-horizontal-gap: 0;
    --swiper-pagination-bullet-inactive-color: transparent;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-height: auto;
    --swiper-pagination-bullet-width: auto;
}

/*
 */
.card {
    --bs-card-border-radius: var(--bs-border-radius-xl);
    --bs-card-inner-border-radius: calc(var(--bs-card-border-radius) - (var(--bs-border-width)));
}

/**/
.bsm {
    background-image: linear-gradient(145deg, transparent, var(--bs-primary));
}
.testimonial-item {
    width: 300px;
}
.portofolio-gallery {
    column-count: 3;
    column-gap: .5rem;

    .card {
        margin-bottom: .5rem;
        transition: transform .25s;
        &:hover {
            transform: scale(1.05);
        }
    }
}
.wa-floating-button {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 9999;
    transition: transform .25s;
    &:hover {
        transform: scale(1.2);
    }
    img {
        width: 3.5rem;
        height: 3.5rem;
    }
}

/*
 */
.client-content img {
    max-height: 40px;
    margin: 10px;

    &[src$="pemda.svg"],
    &[src$="kementrian.png"],
    &[src$="bantul.png"] {
        max-height: 80px;
    }
}

/* sm */
@media (min-width: 576px) {}
/* md */
@media (min-width: 768px) {
    .bsm {
        background-image: none;
    }
    .intro {
        background-image: linear-gradient(145deg, transparent, var(--bs-primary));;
    }
    .stats [class*="col-"]:nth-child(n+2) {
        border-left: 2px solid var(--bs-gray-dark);
    }
    .work-item .img1.ratio-4x3 {
        --bs-aspect-ratio: calc(100% / 16 * 9);
    }
    .portofolio-gallery {
        column-count: 4;
    }
}
/* lg */
@media (min-width: 992px) {
    .portofolio-gallery {
        column-count: 6;
    }
}
/* xl */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
/* xxl */
@media (min-width: 1400px) {}
