@import "tailwindcss";

@layer base {
    h1 {
        @apply text-4xl md:text-5xl lg:text-6xl font-bold;
    }

    h2 {
        @apply text-3xl md:text-4xl font-bold;
    }

    h3 {
        @apply text-2xl md:text-3xl font-semibold;
    }

    h4 {
        @apply text-xl md:text-2xl font-semibold;
    }

    p {
        @apply text-base md:text-lg leading-relaxed;
    }
}
