---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Separator from "../components/Separator.astro";
import Layout from "../layouts/Layout.astro";
import SectionWrap from "../components/SectionWrap.astro";
import SectionHead from "../components/SectionHead.astro";
---

<Layout
    title="Contact | Bintang Surya Mandiri",
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
>

    <Header/>

    <SectionWrap>

        <SectionHead
            title="Contact",
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        />

        <main>
            TODO
        </main>

    </SectionWrap>

    <Separator/>

    <Footer/>

</Layout>
