---
const { pathname } = Astro.url;

const workNav = [
    { teks: "Work",      href: "/bsm/work/"           },
    { teks: "Billboard", href: "/bsm/work/billboard/" },
    { teks: "Branding",  href: "/bsm/work/branding/"  },
    { teks: "Interior",  href: "/bsm/work/interior/"  }
];
---

<nav class="flex flex-row gap-4 justify-center items-center font-semibold uppercase mb-8">

    {workNav.map(nav => (

        <a class={`p-1 md:px-3 md:py-2 rounded-md border border-black/10 shadow-md transition ${pathname === nav.href ? 'text-black bg-yellow-300' : 'hover:text-black bg-gray-300 hover:bg-yellow-300'}`} href={nav.href}>{nav.teks}</a>

    ))}

</nav>
