---
import '../styles/global.css'

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="id" class="bg-gray-100 text-base">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{title}</title>
    <meta name="description" content={description}>

    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://zmni.github.io/bsm/">
    <meta property="og:image" content="https://zmni.github.io/bsm/favicon-dark.svg">

    <link rel="icon" href="/bsm/favicon-dark.svg" media="(prefers-color-scheme: light)" sizes="any">
    <link rel="icon" href="/bsm/favicon-light.svg" media="(prefers-color-scheme: dark)" sizes="any">

</head>
<body class="text-gray-800">

    <slot />

</body>
</html>
